algorithm/MiniMaxSum/MiniMaxSum/bin/
algorithm/MiniMaxSum/MiniMaxSum/obj/
frontend/JokeeSingleServing/JokeeSingleServing/bin/Debug/net6.0/appsettings.Development.json
frontend/JokeeSingleServing/JokeeSingleServing/bin/Debug/net6.0/appsettings.json
frontend/JokeeSingleServing/JokeeSingleServing/bin/
frontend/JokeeSingleServing/JokeeSingleServing/obj/
